<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>Markup Blog</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4">Blog Articles</h1>
      <a href="/articles/new" class="btn btn-success">New Article</a>
    </div>

    <% articles.forEach(article => { %>
    <div class="card m-4 p-2">
      <h2><%= article.title %></h2>
      <p class="card-subtitle text-muted"><%= article.date %></p>
      <p><%= article.description %></p>
      <a class="btn btn-primary">Read more</a>
      <a href="" class="btn btn-info">Edit</a
      ><a href="" class="btn btn-danger">Delete</a>
    </div>
    <% }) %>
  </body>
</html>
